.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s ease-in-out;
  height: 40vmin;
  pointer-events: none;
  margin-top: 250vmin;
  margin-bottom: 10vmin;
}

.img-wrapper{
  height: 30vmin;
  max-height: 30vmin;
  max-width: 60vmin;
  padding: 20px 40px;
}

.flag-img{
  cursor: pointer;
  height: 30vmin;
  max-height: 30vmin;
  max-width: 60vmin;
  transition: all .15s ease-out;
}

.flag-img:hover { transform: scale(1.05); }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 30px 70px;
}

h2 {
  padding: 10px;
}

.score {
  text-align: center;
  width:5%;
  position: fixed;
}

.row {
  display: flex;
}
.column {
  flex:50%
}

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}
